#
#   This is the core configuration for Tasklet Config Service
#
####################################
server:
  port: 8888
spring:
  cloud:
    config:
      server:
        encrypt.enabled: false
        git:
          uri: https://github.com/mvigneshtuty/tasklet-config-repo/
          searchPaths: tasklet-api-service,tasklet-reminder-service,tasklet-jwt-oauth2-server
management:
  endpoints:
    web:
      exposure:
        include: "*"

####
#Classpath and file-based solution
####

#server:
#   port: 8888
#spring:
#  profiles:
#    active: native
#  cloud:
#     config:
#       server:
#           native:
#              searchLocations: file:///D:/...path-to-config.../rayfocus-tasklet.config/src/main/resources/config/taskletservice
###              #searchLocations: classpath:config/,classpath:config/licensingservice
